.about {
  height: 100vh;
  background-color: #232323;
  &__divider {
    height: 5vh;
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.6) 0%,
      rgba(35, 35, 35, 1) 100%
    );
  }
  .container {
    display: flex;
    margin-top: 10%;
    &__left {
      flex: 0.5;
      display: flex;
      justify-content: center;
      .image {
        position: relative;
        width: 410px;
        height: 410px;
        &__photo {
          width: 100%;
          height: 100%;
          background: url('../../images/profile.jpeg');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 200;
          position: absolute;
        }
        &__background {
          width: 386px;
          height: 386px;
          border: 12px solid white;
          position: absolute;
          top: 35px;
          right: 45px;
        }
      }
    }
    &__right {
      flex: 0.5;
      .information {
        color: white;
        &__section {
          color: white;
          font-weight: 300;
          font-size: 19px;
          letter-spacing: 1px;
          margin-top: -30px;
        }
        &__title {
          font-size: 32px;
          margin-top: 75px;
          margin-bottom: 26px;
          font-weight: 500;
          letter-spacing: 3px;
        }
        &__description {
          max-width: 600px;
          padding-left: 10px;
          // line-height: 35px;
          font-size: 18px;
          color: rgba(256, 256, 256, 0.8);
          font-weight: 300;
          &--last {
            margin-top: 40px;
          }
        }
        &__CV {
          display: flex;
          align-items: center;
          font-size: 16px;
          color: white;
          font-weight: 300;
          background-color: #403f3f;
          border: none;
          margin-top: 30px;
          padding: 10px 15px;
          text-decoration: none;
          transition: 0.3s;
          .MuiSvgIcon-root {
            margin-right: 5px;
          }
          &:hover {
            color: #232323;
            background: white;
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1366px) {
  .about {
    .container {
      &__right {
        .information {
          &__section {
            font-size: 18px;
          }
          &__title {
            font-size: 29px;
          }
          &__description {
            font-size: 15px;
          }
          &__CV {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    .container {
      &__left {
        .image {
          width: 360px;
          height: 360px;
          &__background {
            width: 336px;
            height: 336px;
          }
        }
      }
      &__right {
        .information {
          &__section {
            font-size: 20px;
          }
          &__title {
            font-size: 27px;
            margin-top: 50px;
          }
          &__description {
            font-size: 13px;
            &--last {
              margin-top: 30px;
            }
          }
          &__CV {
            font-size: 12px;
            letter-spacing: 1px;
            padding: 7.5px 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .about {
    height: auto;
    .container {
      flex-direction: column;
      &__left {
        .image {
          width: 400px;
          height: 400px;
          &__photo {
            background: linear-gradient(
                rgba(0, 0, 0, 0.25),
                rgba(0, 0, 0, 0.25)
              ),
              url('../../images/profile.jpeg');
            background-size: cover;
            background-position: center;
          }
          &__background {
            width: 451px;
            height: 376px;
            top: -40px;
            left: -40px;
          }
        }
      }
      &__right {
        margin-top: 90px;
        .information {
          text-align: center;
          &__section {
            font-size: 25px;
            letter-spacing: 2px;
          }
          &__title {
            margin-top: 30px;
          }
          &__description {
            max-width: none;
            font-size: 19px;
            padding: 0 30px;
          }
          &__CV {
            margin: 30px auto 0 auto;
            font-size: 18px;
            padding: 20px 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .about {
    .container {
      &__left {
        .image {
          width: 300px;
          height: 300px;
          &__background {
            width: 351px;
            height: 276px;
          }
        }
      }
      &__right {
        .information {
          &__section {
            font-size: 21px;
          }
          &__title {
            font-size: 23px;
          }
          &__description {
            font-size: 16px;
          }
          &__CV {
            font-size: 16px;
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .about {
    .container {
      &__left {
        .image {
          height: 280px;
          width: 280px;
          &__background {
            width: 331px;
            height: 256px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .about {
    .container {
      &__left {
        .image {
          height: 250px;
          width: 250px;
          &__background {
            width: 281px;
            height: 226px;
            left: -28px;
          }
        }
      }
    }
  }
}
