body {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
}
/* .App {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
} */

/* NavBar */

.navbar {
  /* padding-bottom: 20px; */
  font-family: 'Cantarell', sans-serif;
}
.nav {
  float: right;
}
.ml-auto {
  padding-left: 60px;
  padding-right: 30px;
}

.navbar-brand {
  font-family: 'Frijole', cursive;
  font-size: 46px;
  padding-left: 30px;
  padding-top: 10px;
}

a {
  text-decoration: none;
  color: white;
}

/* About */
.about-paragraph {
  font-size: 17px;
}
.cooking-paragraph {
  font-size: 17px;
}
.jumbotron {
  background-color: transparent !important;
  border-width: thick;
  border-color: black;
  border-radius: 0 0 0 0;
}
.about-intro {
  font-size: 30px;
  font-weight: bold;
}

.cooking-img {
  height: 390px !important; 
  width: auto;
  /* float: right !important; */
}
/* .second-container {
  width: 400px;
  background-color: #eee;
  font-family: arial;
  padding: 5px;
  border: 1px solid #ccc;
  overflow: hidden;
} */
.second-container img {
  margin-left: 5px;
  float: right;
}

.card {
  background-color: transparent !important;
  border-color: transparent;
}
/* Projects */

.project-container {
  display: flex;
  justify-content: space-between;
}

.work_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 18rem; */
  /* width: 100vw; */
  /* padding-left: 10px; */
}
.work_container h1 {
  font-size: 5rem;
  font-family: 'Montserrat';
}
.work_container .projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.work_container .projects_container img {
  height: 20rem;
  width: 20rem;
}
.work_container .projects_container .title {
  font-size: 1.2rem;
}

.btn-toolbar {
  grid-gap: 3rem;
  justify-content: center;
}

.btn-primary {
  border-radius: 0 0 0 0 !important;
  border-color: darkblue;
  border-width: medium;
  font-size: 14px;
  color: blue;
  background-color: white;
}

/* Contact */

.contact-container .contact-jumbotron {
  background-color: black;
  text-align: center;
  color: white;
  width: auto;
  padding-top: 6rem;
  padding-bottom: 2rem;
  padding-left: 12rem !important;
  padding-right: 14rem !important;
}

.fa-google {
  color: #dd4b39;
  align-items: center;
  /* background-color: rgb(17, 17, 17); */
}

.fa-linkedin {
  color: #4968ad;
  text-align: center;
  /* background-color: rgb(17, 17, 17); */
}

.fa-instagram {
  color: rgb(160, 49, 64);
  align-items: center;
}
.fa-github {
  color: white;
  align-items: center;
}

/* Style all font awesome icons */
.fa {
  padding: 40px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  color: white;
}

/* Mobile Settings */

@media only screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }

  /* NavBar */
  .top-navbar {
    line-height: 1;
  }

  .navbar-brand {
    font-size: 36px;
    padding-top: 5px;
  }

  .dropdown-item {
    font-size: 12px;
  }
  .navbar-toggler {
    font-size: 10px;
  }
  .ml-auto {
    padding-left: 0px;
    padding-right: 0px;
    font-size: 18px;
    line-height: 1.5;
    /* padding-bottom: 5px; */
  }

  /* About */

  .about-intro {
    font-size: 28px;
    font-weight: bolder;
  }
  .resume-button {
    font-size: 12px;
  }

  .profile-img {
    height: 250px;
    width: auto;
  }

  .cooking-img {
    height: 290px !important; 
    width: auto;
    float: right !important;
  }

  .about-paragraph {
    text-align: justify;
  }

  /* Projects */
  .work_container {
    width: 100%;
    /* top: 10rem; */
    /* width: 80vw; */
    /* display: block ; */
  }

  .work_container h1 {
    font-size: 2rem;
  }
  .project_container {
    width: 100%;
  }

  .work_container .projects_container {
    grid-gap: 0.2rem;
  }

  .work_container .projects_container img {
    height: 12rem;
    width: 12rem;
    display: block;
  }

  .work_container .projects_container .title {
    font-size: 0.8rem;
  }
  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }

  /* Contact */
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .contact-container .contact-jumbotron {
    background-color: black;
    text-align: center;
    color: white;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

/* Tablet Settings  */

@media only screen and (min-width: 400px) and (max-width: 800px) {
  body {
    font-size: 14px;
  }
  /* NavBar */

  /* About */
  .profile-img {
    height: 300px;
    width: auto;
  }

  /* Contact */

  .contact-container .contact-jumbotron {
    background-color: gray;
    text-align: center;
    color: white;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1900px) {
  body {
    font-size: 14px;
  }
  /* NavBar */

  /* About */
  .profile-img {
    height: 330px;
    width: auto;
  }

  /* Contact */

  .contact-container .contact-jumbotron {
    background-color: black;
    text-align: center;
    color: white;
    width: auto;
    padding-top: 4rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* For setting up accordion button in </About > */

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  body {
    font-size: 14px;
  }

  .contact-container .contact-jumbotron {
    background-color: black;
    text-align: center;
    color: white;
    width: auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    padding-left: 8rem !important;
    padding-right: 10rem !important;
  }
}
