body {
  /* display: flex;
  align-content: center;
  justify-content: center; */
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
}
.App {
  /* height: 100vh; */
  /* width: 80vw; */
  /* display: flex; */
  /* flex-direction: column; */
}

/* NavBar */

.navbar {
  padding-bottom: 0px;
  font-family: 'Cantarell', sans-serif;
}
.nav {
  float: right;
}
a {
  padding-left: 200px;
}

.navbar-brand {
  font-family: 'Frijole', cursive;
  font-size: 46px;
  padding-left: 30px;
}



a {
  text-decoration: none;
  color: white;
}

/* About */
.about-intro {
  font-size: 30px;
  font-weight: bold;
}

/* Projects */

.project-container {
  display: flex;
  justify-content: space-between;
}

.work_container {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  /* top: 18rem; */
  /* width: 100vw; */
  /* padding-left: 10px; */
}
.work_container h1 {
  font-size: 5rem;
  font-family: 'Montserrat';
}
.work_container .projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.work_container .projects_container img {
  height: 20rem;
  width: 20rem;
}
.work_container .projects_container .title {
  font-size: 1.2rem;
}

.btn-toolbar {
  grid-gap: 3rem;
  justify-content: center;
}

.btn-primary {
  border-radius: 0 0 0 0 !important;
  border-color: darkblue;
  border-width: medium;
  font-size: 14px;
  color: blue;
  background-color: white;
  
}

/* Contact */

.contact-container .contact-jumbotron{
  background-color: lightblue;
  text-align: center;
  color: black;
  width: auto;
}

.fa-google {
  color: #dd4b39;
  align-items: center;
}

.fa-linkedin {
  color: #4968ad;
  text-align: center;
}

.fa-instagram {
  color: rgb(160, 49, 64);
  align-items: center;
}
.fa-github {
  color: white;
  align-items: center;
}

/* Style all font awesome icons */
.fa {
  padding: 40px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  color: white;
}

/* Mobile Settings */

@media only screen and (max-width: 450px) {
  body {
    font-size: 14px;
  }

  /* NavBar */
  .top-navbar {
    line-height: .5;
  }

  .navbar-brand {
    font-size: 36px;
  }
  .nav-link {
    font-size: 12px;
  }
  .dropdown-item {
    font-size: 12px;
  }
  .navbar-toggler {
    font-size: 10px;
  }

  /* About */

  .about-intro {
    font-size: 28px;
    font-weight: bolder;
  }
  .resume-button {
    font-size: 12px;
  }

  .profile-img {
    height: 250px;
    width: auto;
  }

  /* Projects */
  .work_container {
    width: 100%;
    /* top: 10rem; */
    /* width: 80vw; */
    /* display: block ; */
  }

  .work_container h1 {
    font-size: 2rem;
  }
  .project_container {
    width: 100%;
  }

  .work_container .projects_container {
    grid-gap: 0.2rem;
  }

  .work_container .projects_container img {
    height: 12rem;
    width: 12rem;
    display: block;
  }

  .work_container .projects_container .title {
    font-size: 0.8rem;
  }
  .clearfix:after {
    content: '';
    display: table;
    clear: both;
  }

  /* Contact */
  .fa {
    padding: 30px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
}

/* Tablet Settings  */

@media only screen and (min-width: 600px) and (max-width: 800px) {
  body {
    font-size: 14px;
  }
}
