body {
  margin: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  /* font-family: 'Josefin Sans', sans-serif; */
  font-family: 'Rubik', sans-serif;
}
.App {
  height: 100vh;
  width: 80vw;
  display: flex;
  flex-direction: column;
}

/* NavBar */

.navbar {
  padding-bottom: 25px;
  padding-top: 10px;
  font-family: 'Cantarell', sans-serif;
}
.nav {
  float: right;
}

a {
  text-decoration: none;
  color: white;
}

/* About */
.about-intro {
  font-size: 30px;
  font-weight: bold;
}

/* Projects */

.work_container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 18rem;
  width: 80vw;
}
.work_container h1 {
  font-size: 5rem;
  font-family: 'Montserrat';
}
.work_container .projects_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.work_container .projects_container img {
  height: 20rem;
  width: 20rem;
}
.work_container .projects_container .title {
  font-size: 1.2rem;
}

/* Footer */

.footer {
  background-color: black;
}
a.github {
  color: white;
  align-items: center;
}

a.linkedin {
  color: #4968ad;
  text-align: center;
}
a.twitter {
  color: 4968ad;
  align-items: center;
}
a.instagram {
  color: rgb(160, 49, 64);
  align-items: center;
}

/* Mobile Settings */

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  /* NavBar */

  .navbar-brand {
    font-size: 15px;
  }
  .nav-link {
    font-size: 12px;
  }
  .dropdown-item {
    font-size: 12px;
  }
  .navbar-toggler {
    font-size: 10px;
  }

  /* About */

  .about-intro {
    font-size: 28px;
    font-weight: bolder;
  }
  .resume-button {
    font-size: 12px;
  }

  /* Projects */
  .work_container {
    top: 10rem;
    width: 80vw;
  }

  .work_container h1 {
    font-size: 2rem;
  }

  .work_container .projects_container {
    grid-gap: 0.2rem;
  }

  .work_container .projects_container img {
    height: 8rem;
    width: 8rem;
  }

  .work_container .projects_container .title {
    font-size: 0.8rem;
  }

}
